---
import '@/styles/globals.css'
import Layout from '../layouts/Layout.astro'
import { Button } from '@/components/ui/button'
---

<Layout title="KSE docs | Home">
  <section class="max-w-4xl mx-auto justify-center flex gap-2 flex-col items-center py-4">
    <h1 class="text-4xl font-bold underline text-center w-f">KSE docs</h1>
    <a href="/publication/0a08feba-73bf-4d3c-86a0-d3f0f425a54d">
      <Button>to publication</Button>
    </a>
  </section>
</Layout>
